<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {% block style %}{% endblock %}

    <style>
        a.dark {
            color: black;
        }

    </style>
</head>

<body>

    <img src="/static/images/landscape.jpg" alt="Lancashire" class="w3-image w3-opacity">

    

    {% block content %}{% endblock %}


</body>

</html>